/* Couleurs principales */
:root {
    --primary-color: #4E598C;
    --secondary-color: #F9C784;
    --background-color: #FFFFFF;
    --text-color: #333;
}

/* Général */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color) !important;
}

.navbar-brand, .navbar-nav .nav-link {
    color: var(--background-color) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color) !important;
}

/* Boutons */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
}

/* Cartes et formulaires */
.card {
    border: 1px solid var(--secondary-color);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    border: 1px solid var(--secondary-color);
}
